PORT=3000
ADMIN_USER=admin
ADMIN_PASSWORD=FPC-Mkn_R1oFc2A
SITE_NAME=FootPredict CI
PRICE_XOF=500
WAVE_API_KEY=
WAVE_WEBHOOK_SECRET=
WAVE_SUCCESS_URL=http://localhost:3000/payment/success
WAVE_ERROR_URL=http://localhost:3000/payment/error
